canvas.game {
  border: 1px dotted #AAA;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin: auto;
  background-color: black;
}
canvas.debug {
  border: 1px dotted #AAA;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
}
