<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>biobreakers</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">biobreakers</h1>
<p>A bio breakers super crazy game</p>
<button id="sound">Sounds ON</button>
<p>
  Music By <br>
 <a href="http://twitter.com/sabrepulse">@Sabrepulse</a>
 <br>
 <a href="http://twitter.com/shirobon">@Shirobon</a>
</p>

<script src="app.js"></script>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
</body>
</html>